.header {
  .resume {
    text-align: center;
    font-weight: 400;
    font-family: 'Kaushan Script', cursive;
    margin-bottom: 18px;
    letter-spacing: 10px;
  }

  .names {
    letter-spacing: 2px;
    text-align: center;
    font-size: 38px;
    font-family: 'Righteous', cursive;
  }

  @media screen and (max-width: 980px) {
    .resume {
      text-align: left;
    }
    .names {
      text-align: left;
      font-size: 36px;
    }
  }

  @media screen and (max-width: 540px) {
    margin-bottom: 46px;
  }

}
