$icons-width: 22px;
$left-right-width: 400px;
$margin-bottom-inner-content: 12px;

@mixin content {
  display: grid;
  grid-template-areas: "header header" " left right";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 0;
  column-gap: 0;
  padding-top: 80px;

  @media screen and (max-width: 980px) {
    display: block;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-top: 6px;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-family: 'Righteous', cursive;
  }

  .image {
    text-align: center;

    @media screen and (max-width: 980px) {
      text-align: left;
    }

    img {
      width: 56px;
    }
  }

  .header {
    grid-area: header;
  }

}

@mixin contentLeft {
  position: relative;
  grid-area: left;
  text-align: right;
  padding: 20px 60px 20px 0;
  width: $left-right-width;

  @media screen and (max-width: 540px) {
    width: auto;
  }

  &:before {
    position: absolute;
    content: "";
    box-shadow: 1px 0 0 #000;
    height: 65%;
    width: 2px;
    left: auto;
    right: -1px;
  }

  @media screen and (max-width: 980px) {
    text-align: left;
    padding: 20px 0 20px;
    &:before {
      height: 0;
    }
  }
}

@mixin contentRight {
  position: relative;
  grid-area: right;
  text-align: left;
  padding: 20px 0 20px 60px;
  width: $left-right-width;

  @media screen and (max-width: 980px) {
    padding: 20px 0 20px;
  }

  @media screen and (max-width: 540px) {
    width: auto;
  }
}

@mixin styleForLinks {
  color: #000;
  text-decoration: underline;
}

