@import "../common";

.contentExperience {
  @include content;

  .experience, .tester {
    margin-bottom: $margin-bottom-inner-content;
  }

  .left {
    @include contentLeft;

    ul {

      li{
        list-style-type: circle;
        list-style-position: inside;

      }
    }
  }

  .right {
    @include contentRight;
  }
}
