@import "../common";

.contentAdditionally {
  @include content;

  .other {
    margin-bottom: $margin-bottom-inner-content;
  }

  .foLinks {
    color: #000;
    text-decoration: underline;
  }

  .left {
    @include contentLeft;

    .additionallySkills {

      .skills {
        display: inline-flex;
        margin: 0 8px 8px 0;
        span {
          padding: 2px 10px;
          background-color: #d5d3d6;
        }
      }
    }
  }

  .right {
    @include contentRight;
  }
}
