.main {
  position: relative;
  padding: 20px;
  min-height: 100%;
  background: #D7D3EC;
  background: linear-gradient(90deg, #b9b3da 0%, #cfcbe8 35%, #d0cde4 100%);

  display: inline-flex;
  box-sizing: border-box;
  min-width: 100%;

  .paper {
    line-height: 28px;
    display: table;
    position: relative;
    //max-width: 960px;
    min-height: 100%;
    margin: 0 auto;
    background: #E6E6E8;
    background: linear-gradient(4deg, rgba(213, 211, 214, 1) 0%, rgba(233, 231, 234, 1) 100%);
    box-shadow: -44px 85px 68px #00000094;
    padding: 60px 60px 120px;
    border-radius: 1px;
    //border-radius: 1px 60px 1px 1px;

    //&:before{
    //  content: '';
    //  position: absolute;
    //  left: auto;
    //  bottom: auto;
    //  top: 8px;
    //  right: 7px;
    //  width: 24px;
    //  height: 33px;
    //  background: linear-gradient(30deg, #e8e6e9 1px, #dedbf1 90%);
    //  transform: skew(20deg, 20deg) rotate(0deg);
    //  border-top-right-radius: 60px;
    //  box-shadow: 0 0 0 1px #99999954 inset, -10px 11px 20px rgba(0, 0, 0, 0.07);
    //}
  }
}
