$primary-color: #868686;
@import "~loaders.css/src/animations/pacman.scss";

.loader-hidden {
  display: none;
}
@keyframes faded {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.container-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #f6f4f7;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;

  &.fade {
    opacity: 0;
    animation: faded .3s;
  }
}

.loader-active {
  top: 34%;
  margin: auto;
  display: table;
  position: relative;
}

@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
/* Fonts english Resume */

@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
/* Fonts english First, Last Names */

@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
/* Fonts text */

@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
/* Fonts cyrillic Resume */

@import url("https://fonts.googleapis.com/css?family=Play&display=swap");
/* Fonts cyrillic First, Last Names */

body {
  font-family: 'Open Sans', 'Calibri', Arial, "Trebuchet MS", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
