@import "../common";

.contentContact {
  @include content;

  .left {
    @include contentLeft;

    .hello {
      margin-bottom: $margin-bottom-inner-content;
    }

    .city {
      @include styleForLinks;
    }
  }

  .right {
    @include contentRight;

    display: grid;
    grid-template-areas: "infoHeader infoHeader" "infoImage infoContacts";
    grid-template-rows: auto 1fr;
    grid-template-columns: 10fr 24fr;
    row-gap: 0;
    column-gap: 0;

    .infoHeader {
      grid-area: infoHeader;
    }

    .infoImage {
      grid-area: infoImage;

      padding-top: 40px;

      img {
        width: 98px;
        filter: grayscale(1) contrast(1.5);
      }

    }

    @media screen and (max-width: 540px) {
      display: block;
      padding-top: 0;
    }

    .infoContacts {
      grid-area: infoContacts;

      .personContact {

        .mailPhone {
          margin-bottom: $margin-bottom-inner-content;

          p {
            a {
              position: relative;
              padding: 0 0 0 30px;
              color: #000;
              @include styleForLinks;
            }

            .phone {
              &:before {
                content: url("../../../assets/ionicons/md-call.svg");
                width: $icons-width;
                margin: 0;
              }
            }

            .mail {
              &:before {
                content: url("../../../assets/ionicons/md-mail.svg");
                width: $icons-width;
                margin: 0;
              }
            }

            .skype {
              &:before {
                content: url("../../../assets/ionicons/logo-skype.svg");
                width: $icons-width;
                margin: 0;
              }
            }
          }
        }

        .socials {
          a {
            margin-right: 10px;

            img {
              width: $icons-width;
            }
          }
        }


      }
    }
  }
}
